<nav class="flex items-center justify-between py-10">
  <a href="/">drix</a>
  <ul class="flex items-center space-x-4">
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="#skills">Skills</a>
  </ul>
</nav>
